@charset "utf-8";
/* CSS Document */

html,
body {
		padding: 0;
		margin: 0;
		height: 100%;
}

body {
		background-color: #CCC;
}

.text-primary {
		color:#0052a1;
}

#application-container {
		padding: 20px;
		border: 2px solid #CCC;
		margin-bottom: 20px;
		background-color: #FFF;
}

#calculator-container {
	  display: block;
		height: 782px;
		width: 100%;
		border: 1px solid #b6b6b6;
}

/*--------------------------------------------------------------------*/
/*-------------------- CALCULATOR FORM STYLES ------------------------*/
/*--------------------------------------------------------------------*/

.form-control {
		padding: 6px;
}

#calculator-form-container {
		padding-left:10px;
		padding-right:5px;
		padding-top:15px;
}

#calculator-form label {
		padding-right:5px;
		text-align:left;
}

#calculator-form .form-dropdown-group label {
		padding-right: 20px;
}

#calculator-form .form-group .col-md-9 {
		padding-left:0;
}

#calculator-form button[type="submit"] {
		padding: 12px;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		width: 100%;
		margin-bottom: 10px;
}

#calculator-form button[type="button"] {
		padding: 12px;
		font-size: 16px;
		font-weight: bold;
		margin: 10px 0;
}

#calculator-results {
		background-color: #ffdb00;
		padding: 10px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		display: none;
}

#calculator-results .row {
		font-family: "Arial Black",Arial,sans-serif;
}

#calculator-results h2 {
		margin-top:0;
}
#calculator-results h4 {
		margin-top:11px;
}

#calculator-savings {
		background-color: #f2f2f2;
		padding: 10px;
}

#calculator-savings button[type="button"] {
		padding: 12px;
		font-size: 16px;
		font-weight: bold;
		width: 90%;
		margin: 10px 0;
}

#calculator-savings a {
	display: block;
	margin: 10px 0;
}

.form-group.form-dropdown-group {
		margin-bottom: 0;
}
.form-dropdown-group .form-group .col-md-3 {
		width: 27%;
}

.form-dropdown-group .form-group .col-md-9 {
		width: 73%;
}

.form-dropdown-group .col-md-10 {
		padding-right: 5px;
		width: 88.3333%;
}

.form-dropdown-group .col-md-2 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 23px;
		width: 11.6667%;
}

/*--------------------------------------------------------------------*/
/*-------------------- CALCULATOR MAP STYLES ------------------------*/
/*--------------------------------------------------------------------*/

#map-container {
		height: 760px;
}

.angular-google-map-container {
		position: absolute;
		top: 0px;
		height: 100%;
		width: 98%;
}

#controls {
		position: absolute;
		z-index: 0;
		background-color: rgba(0,0,0, 0.3);
		color: white;
}

#pano {
		position: absolute;
		left: 15px;
		width: 98%;
		bottom: 0;
		z-index: -1;
		height: 45%;
}

#pano {
    height: 500px;
    width: 100%;
}

div.info-window {
		width: 390px;
		padding: 10px;
}

div.info-window p {
		font-size: 16px;
}

div.info-window p span {
		display: block;
}

div.info-window-controls {
		text-align: center;
		padding-left: 28px;
}

div.info-window-controls button {
		margin: 20px 5px;
}

#map-alert {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		margin: 7% 10%;
		width: 80%;
		text-align:center;
		-moz-box-shadow: 3px 3px 2px #444;
		-webkit-box-shadow: 3px 3px 2px #444;
		box-shadow: 3px 3px 3px #444;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#444444')";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#444444');
}

/*-------------------------------------------------------------*/
/*-------------------- BUTTON STYLES --------------------------*/
/*-------------------------------------------------------------*/

.btn-custom {
		border-color: #006093 #006093 hsl(201, 100%, 24%);
		color: #fff !important;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
		-webkit-font-smoothing: antialiased;
		border-radius: 8px;
		width: 100%;
		margin: 10px 0;
}

.btn-blue {
		background-color: hsl(201, 100%, 29%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a2f9", endColorstr="#006093");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#00a2f9), to(#006093));
		background-image: -moz-linear-gradient(top, #00a2f9, #006093);
		background-image: -ms-linear-gradient(top, #00a2f9, #006093);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a2f9), color-stop(100%, #006093));
		background-image: -webkit-linear-gradient(top, #00a2f9, #006093);
		background-image: -o-linear-gradient(top, #00a2f9, #006093);
		background-image: linear-gradient(#00a2f9, #006093);
}

.btn-purple {
		background-color: hsl(286, 100%, 29%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf00f9", endColorstr="#710093");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#bf00f9), to(#710093));
		background-image: -moz-linear-gradient(top, #bf00f9, #710093);
		background-image: -ms-linear-gradient(top, #bf00f9, #710093);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bf00f9), color-stop(100%, #710093));
		background-image: -webkit-linear-gradient(top, #bf00f9, #710093);
		background-image: -o-linear-gradient(top, #bf00f9, #710093);
		background-image: linear-gradient(#bf00f9, #710093);
}

.btn-silver {
		background-color: hsl(213, 22%, 79%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbfcfd", endColorstr="#bdc8d5");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfcfd), to(#bdc8d5));
		background-image: -moz-linear-gradient(top, #fbfcfd, #bdc8d5);
		background-image: -ms-linear-gradient(top, #fbfcfd, #bdc8d5);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfcfd), color-stop(100%, #bdc8d5));
		background-image: -webkit-linear-gradient(top, #fbfcfd, #bdc8d5);
		background-image: -o-linear-gradient(top, #fbfcfd, #bdc8d5);
		background-image: linear-gradient(#fbfcfd, #bdc8d5);
		color: #000 !important;
		text-shadow:none;
}

.btn-gray {
		background: rgb(238,238,238); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
}

.btn-silver:hover,
.btn-silver.active,
.btn-silver:active {
		background-color: #0052a1;!important;
}

#button-reverse {
		border: none;
		background: none;
		padding: 0;
}

#button-reverse a,
#button-reverse a img {
	  outline: none;
}

#button-reverse img {
		border: none;
}

/*-----------------------------------------------------------*/
/*-------------------- MEDIA QUERIES ------------------------*/
/*-----------------------------------------------------------*/

@media all and (max-width: 768px) {
#application-container {
		height: 650px;
}
}
