<!DOCTYPE html>
<html ng-app="mapApp">
  <head>
    <title>The Toll Roads | Toll Cost Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
  <div class="row">
      <div id="calc-outer" class="col-md-12">
      <h1>Toll Rates</h1>
      <p>The Toll Roads (State Routes 73, 133, 241 and 261) are going cashless and converting to all-electronic toll collection. With all electronic tolling (AET) all tolls are collected electronically, eliminating delays caused by stopping to pay with cash, searching for cash or fumbling for exact change</p>
      <h3>Toll Calculator</h3>
      <hr>
      <p>Calculate your toll by selecting your options below:</p>
      	<div style="display:block; height:782px; width:100%; border:1px solid #b6b6b6;" ng-controller="mapController">
          <div id="calc-form-container" class="col-md-3">
          <form id="calc-form" role="form" ng-submit="calc-form.$valid" novalidate>
          
      <label for="exampleInputEmail1" class="font16">Vehicle Axles:</label>      
        <div id="choice-axle" class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-custom btn-silver font12">
            <input type="radio" name="axles" value="2" id="axle1">2 or less
            </label>
            <label class="btn btn-default btn-custom btn-silver font12" style="width:95px;">
            <input type="radio" name="axles" value="3" id="axle2">3 or 4
            </label>
            <label class="btn btn-default btn-custom btn-silver font12">
            <input type="radio" name="axles" value="5" id="axle2">5 or more
            </label>
        </div>
<label for="exampleInputEmail1" class="font16">Pay by:</label>
<div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-custom btn-silver font12">
            <input type="radio" name="type" value="fasttrak" id="type1">FasTrak
            </label>
            <label class="btn btn-default btn-custom btn-silver font12" style="width:75px;">
            <input type="radio" name="type" value="express" id="type2">Express
            </label>
            <label class="btn btn-default btn-custom btn-silver font12">
            <input type="radio" name="type" value="onetime" id="type3">One-Time-Toll
            </label>
</div>     
          
  <div class="form-group">
    <label for="exampleInputEmail1" class="font16" required>Start:</label>
    <select class="form-control" ng-model="map.local.route.start" 
          ng-options="marker.id as marker.name for marker in map.local.markers">
      <option value="">--Select Start Point--</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="font16" required>End:</label>
    <select class="form-control" ng-model="map.local.route.end" 
          ng-options="marker.id as marker.name for marker in map.local.markers">
      <option value="">--Select End Point--</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default btn-custom btn-blue">Find Your Toll</button>
</form>
      
      <div id="calc-results" class="bg-yellow">
      	<div class="row text-black">
            <div class="col-md-6 font32"><strong>$6.75</strong></div>
            <div class="col-md-6"><strong>Peak*</strong></div>
        </div>
        <div class="row text-primary text-black">
            <div class="col-md-6 font32"><strong>$6.00</strong></div>
            <div class="col-md-6"><strong>Off Peak</strong></div>
        </div>
        <div class="row text-primary text-black">
            <div class="col-md-6 font32"><strong>$5.75</strong></div>
            <div class="col-md-6"><strong>Weekend</strong></div>
        </div>
        <p class="font12">
            <span>2-Axle or Motorcycle</span>
            <span>FasTrak</span>
            <span>Start: 73 - Exit Name</span>
            <span>End: 73 - Exit Name</span>
        </p>
      </div>    
	  <div id="calc-savings" class="bg-gray">
      	<span class="text-black font16"><strong>You Can Save:</strong></span>
        <span><strong>$0.70</strong> with Fastrak (Peak Hours)</span>
		<span>(That's about $21 a month!)</span>
        <span class="text-center"><button type="button" class="btn btn-default btn-custom btn-purple">Sign Up for FasTrak</button></span>
      </div>

          </div>
        <div id="map-container" class="col-md-9">
        
        
        <div id="controls">

<button ng-click="map.toggleTrafficLayer()">Traffic</button>

</div>

<google-map control="map.streetView" center="map.center" zoom="map.zoom" 
    options="map.mapOptions" draggable="true" events="map.events" ng-cloak>
  <layer type="TrafficLayer"  show="map.showTraffic"></layer>
  <markers models="map.local.markers" coords="'latlng'" click="'onClick'" icon="'icon'">
    <windows show="'showWindow'" closeClick="'close'" options="map.infoWindowOptions" ng-cloak>
      <div class="info-window">
          {{ typeString }}
          <br>
          {{ markerTitle }}
          <div ng-controller="infoController">
             <button ng-click="onStartClick()" class="btn btn-success point-control">Start Here</button>
             <button ng-click="onEndClick()" class="btn btn-danger point-control">End Here</button>
             <button ng-click="onStreetViewClick()">Street View</button>
          </div>
      </div>
    </windows>
  </markers>
  <markers models="map.local.plazas" coords="'latlng'" click="'onClick'" icon="'icon'" >
    <windows show="'showWindow'" closeClick="'close'" options="map.infoWindowOptions" ng-cloak>
        <div>
          {{ typeString }}
          <br>
          {{ markerTitle }}
          <div ng-controller="infoController">
             <button ng-click="onStreetViewClick()">Street View</button>
          </div>
      </div>
    </windows>
  </markers>
</google-map>
<div id="pano" ng-show="map.showStreetView" class=""></div>
</div>
        </div>
        <div class="col-md-12 font12">
        *PEAK = Monday-Friday, Northbound 7-9 a.m. and Southbound 4-7 p.m.<br /> 
 		OFF PEAK = All other weekday hours.<br /> 
 		WEEKEND = Saturday and Sunday.<br />
 </div>
      </div><!-- /map-outer -->
  </div> <!-- /row -->


</div><!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/lodash/dist/lodash.underscore.js"></script>
	<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
	<script src="map.js"></script>
	<script src="services.js"></script>
  </body>
</html>
