<!DOCTYPE html>
<html ng-app="mapApp">
  <head>
    <title>The Toll Roads | Toll Cost Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="application-container" class="container">
    <div class="row">
    	<div class="col-md-12" ng-controller="mapController">
      	<h1>Toll Rates</h1>
        <p>The Toll Roads (State Routes 73, 133, 241 and 261) are going cashless and converting to all-electronic toll collection. With all electronic tolling (AET) all tolls are collected electronically, eliminating delays caused by stopping to pay with cash, searching for cash or fumbling for exact change</p>
        <h3>Toll Calculator</h3>
        <hr>
        <p>Calculate your toll for a ONE-WAY trip by selecting the options below:</p>
        <div id="calculator-container">
          <div id="calculator-form-container" class="col-md-3">
            <form id="calculator-form" class="form-horizontal" role="form" novalidate >
   
              <!--Road dropdown-->        
              <div class="form-group">
                <label for="local-route-fwy" class="col-md-3 control-label">Road:</label>
                <div class="col-md-9">
                  <select id="local-route-fwy" class="form-control" ng-model="map.local.route.fwy">
                    <option value="rest">State Routes 133/241/261</option>
                    <option value="73">State Route 73</option>
                  </select>
                </div>
              </div><!--end dropdown-->
             
             
             
							<div class="form-group form-dropdown-group">
              	<div class="col-md-10">
                
                  <!--Start dropdown-->        
                  <div class="form-group">
                    <label for="local-route-start" class="col-md-3 control-label">Start:</label>
                    <div class="col-md-9">
                      <select id="local-route-start" class="form-control" ng-model="map.local.route.start" 
                            ng-options="marker as marker.displayName for marker in map.local.startDisplayOpts">
                        <option value="">--Select Start Point--</option>
                      </select>
                    </div>
                  </div><!--end dropdown-->
    
                  <!--End dropdown-->
                  <div class="form-group">
                    <label for="local-route-end" class="col-md-3 control-label">End:</label>
                    <div class="col-md-9">
                      <select id="local-route-end" class="form-control" ng-model="map.local.route.end" 
                            ng-options="marker as marker.displayName for marker in map.local.endDisplayOpts">
                        <option value="">--Select End Point--</option>
                      </select>
                    </div>
                  </div><!--end dropdown-->
                  
                </div>
                
                <div class="col-md-2">
                  <button id="button-reverse" ng-click="map.switchPoints()"><img src="images/site/reverse-trip.png" /></button>
                </div>
							</div>
              
              <!--Pay By dropdown-->
              <div class="form-group">
                <label for="local-route-type" class="col-md-3 control-label">Pay by:</label>
                <div class="col-md-9">
                  <select class="form-control" ng-model="map.local.route.type" ng-options="type.id as type.displayName for type in map.local.displayTypes">
                  </select>
                </div>
              </div><!--end dropdown-->
              
              <!--Vehicle Axles dropdown-->
              <div class="form-group">
                <label for="local-route-axles" class="col-md-5 control-label">Vehicle Axles:</label>
                <div class="col-md-7">
                  <select id="local-route-axles" class="form-control" ng-model="map.local.route.axles">
                    <option value="2">2 or less</option>
                    <option value="3">3 or 4</option>
                    <option value="5">5 or more</option>
                  </select>
                </div>
              </div><!--end dropdown-->    
    
              <button type="button" class="btn btn-default btn-custom btn-blue" ng-click="getRate()">Calculate Your Toll</button>
  
            </form>
      
            <div id="calculator-results" class="animated">
            	<p>{{map.local.route.resultText}}</p>
              <div class="row" ng-model="map.local.route.rateObj.rates.peak" ng-repeat="rate in map.local.route.rateObj.rates.peak">
                <div class="col-md-5">
                  <h2>{{rate.rate}}</h2>
                </div>
                <div class="col-md-7">
                  <h5>{{rate.type}}{{rate.descriptionId}}</h4>
                </div>
              </div>
              <div class="row text-primary">
                <div class="col-md-5">
                  <h2>{{map.local.route.rateObj.rates.off_peak}}</h2>
                </div>
                <div class="col-md-7">
                  <h5>{{map.local.route.offPeakText}}</h4>
                </div>
              </div>
            </div>    
      
            <div id="calculator-savings">
              <h4><strong>You Can Save:</strong></h4>
              <div><strong>{{map.local.route.rateObj.savings.single | currency}}</strong> with FasTrak (Peak Hours)</div>
              <div>(That's about {{map.local.route.rateObj.savings.total | currency}} a month!)</div>
              <div class="text-left"><a href="https://www.thetollroads.com/customer/enroll.do?cmd=goto&locale=en" target="_blank">Sign Up for FasTrak</a></div>
            </div>
          </div>
          <div id="map-container" class="col-md-9">
   
            <div id="controls">
              <button ng-click="map.toggleTrafficLayer()">Traffic</button>
            </div>
            <google-map control="map.local.mapControl" center="map.center" zoom="map.zoom" 
                options="map.mapOptions" draggable="true" events="map.events"  ng-cloak>
              <layer type="TrafficLayer"  show="map.showTraffic"></layer>
              <layer type="KmlLayer" options="map.layer73Options" show="map.showFwy73"></layer>
              <layer type="KmlLayer" options="map.restLayerOptions" show="map.showFwyRest"></layer>
              <map-control template="alert.tpl.html" position="top-left" controller="AlertController"></map-control>
              <markers options="'markerOptions'" models="map.local.points" coords="'latlng'" click="'onClick'" icon="'icon'"></markers>
              <window show="map.showWindow" closeClick="map.closeWindow()" coords="map.currentMarker.latlng" options="map.infoWindowOptions" ng-cloak>
                  <div class="info-window">
                      <p><strong>Route: </strong>{{ typeString }}<span><strong>{{ markerType }}</strong> {{ markerTitle }}</span></p>
                      <div class="info-window-controls">
                         <button ng-click="$parent.onStartClick()" ng-show="$parent.showStartBtn" class="btn btn-success point-control start-btn">Start Here</button>
                         <button ng-click="$parent.onEndClick()" ng-show="$parent.showEndBtn" class="btn btn-danger point-control end-btn">End Here</button>
                         <button ng-click="$parent.onStreetViewClick()" class="btn btn-info">Street View</button>
                      </div>
                  </div>
              </window>
              <markers models="map.local.plazas" coords="'latlng'" click="'onClick'" icon="'icon'"></markers>
              <window show="map.showPlazaWindow" closeClick="map.closeWindow()" coords="map.currentMarker.latlng" options="map.infoWindowOptions" ng-cloak>
                <div class="info-window">
                  <p><strong>Route: </strong>{{ typeString }}<span><strong>{{ markerType }}</strong> {{ markerTitle }}</span></p>
                  <div class="info-window-controls">
                    <button ng-click="$parent.onStreetViewClick()" class="btn btn-info">Street View</button>
                  </div>
                </div>
              </window>
            </google-map>
            
            <div id="pano" ng-show="map.showStreetView" class=""></div>
            
          </div>
        </div>
        <div class="col-md-12 font12">
          <div ng-model="map.local.route.rateObj.rates.peak" ng-repeat="rate in map.local.route.rateObj.rates.peak">{{rate.type}}{{rate.descriptionId}} = {{rate.description}}</div>
          Off Peak = All other weekday hours.<br /> 
          <!--Weekend = Saturday and Sunday.--><br />
        </div>
       </div><!-- /application-container -->
    </div> <!-- /row -->
	</div><!-- /container -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-bootstrap/ui-bootstrap-custom-0.10.0.js"></script>
	<script src="bower_components/lodash/dist/lodash.underscore.js"></script>
	<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
	<script src="js/map.js"></script>
	<script src="js/services.js"></script>
  <script src="js/alert.js"></script>
  <script type="text/javascript">
		jQuery(function($) {
			$('img').attr('border',0);
		});
	</script>
  </body>
</html>
